.timing-container {
  display: flex;
  flex-wrap: wrap; 
  justify-content: flex-start; 
  align-items: center;
}

.timing-item {
  border: 1px solid black;
  color: black;
  padding: 5px;
  text-align: center;
  background-color: #f0f0f0;
  width: 75px;
  height: 40px; 
  border-radius: 50px; 
  display: flex;
  justify-content: center; 
  align-items: center;
  margin: 10px;
}

a{
  color : greenyellow;
  background: none;
  background-color: transparent;
}

